<div class="container pb-4">
    <div class="row justify-content-center mt-2 mb-2">
        <div class="col-lg-6">
            <a class="btn shadow-none w-100" href="{% url 'profile-update' %}" role="button" target="_blank">Update Profile</a>
        </div>
    </div>
    <div class="row justify-content-center mt-2 mb-2">
        <div class="col-lg-6">
            <a class="btn shadow-none w-100" href="{% url 'link_create' %}" role="button" target="_blank">Add Link</a>
        </div>
    </div>
    <div class="row justify-content-center mt-2 mb-2">
        <div class="col-lg-6">
            <a class="btn shadow-none w-100" href="{% url 'social_create' %}" role="button" target="_blank">Add Social</a>
        </div>
    </div>
</div>