body,
html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.pfp {
    width: 120px;
    height: 120px;
}

.btn:hover {
    background-color: white;
    color: black;

}


*:focus {
    outline: none;
}

input,
textarea {
    border: 0px;
    background: transparent;
    text-align: center;
}

.btn {
    border-radius: 0;
    border: 0px;
    color: white;
    background-color: black;
}

.btn:hover {
    background-color: white;
    color: black;

}

.btn:focus {
    color: white;
    background-color: black;
}

.text-black {
    color: black;
}